<h1>Profile</h1>
<p><strong>Name:</strong> {{user.fullName}}</p>
<p><strong>Email:</strong> {{user.email}}</p>
<p><strong>Bio:</strong> {{user.bio}}</p>
<p><a href="/logout">Logout</a></p>
<p><a href="/toggle-theme?redirect=/profile">Toggle theme (Dark/Light)</a></p>
